#content{
    width: 600px;
<<<<<<< HEAD
    border: 5px solid rgb(121, 121, 180);
=======
    border: 5px solid rgb(85, 85, 161);
>>>>>>> d5c26d3baa8e5e09fdbd743314a195cce6b42aa9
    margin: auto;
    padding: 30px;
    background-color: rgb(154, 197, 209);
    border-radius: 30px;
}

img {
    width: 100%;
}

body {
    background-color: rgb(68, 145, 168);
}