#content{
    width: 600px;
    border: 5px solid rgb(85, 85, 161);
    margin: auto;
    padding: 30px;
    background-color: rgb(154, 197, 209);
    border-radius: 30px;
}

img {
    width: 100%;
}

body {
    background-color: rgb(68, 145, 168);
}